GraffiTab-iOS/ExternalLibs/AviarySDK/*
Pods/*
GraffiTab-iOS.xccheckout
GraffiTab-iOS.xcodeproj/project.xcworkspace/*
GraffiTab-iOS.xcodeproj/xcuserdata/*
GraffiTab-iOS.xcworkspace/*
Breakpoints_v2.xcbkptlist
